@charset "UTF-8";
/* COLORS */
/* STOERER MOBILE */
/* GRADIENTS */
/* BACKGROUNDS */
/* FONTS */
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("../font/Source_Sans_3/SourceSans3-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("../font/Source_Sans_3/SourceSans3-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  color: #000000;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
body.no-scroll {
  overflow: hidden;
}
body .module-wrapper {
  width: 70vw;
  margin: 10rem auto;
}
body .module-wrapper.first-module-wrapper {
  margin-top: 5rem;
}
body .module-wrapper .module {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 7rem;
}
body .module-wrapper .module.test {
  max-width: unset;
  padding: 0;
}
body .module-wrapper .module .flex-module {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}
body .module-wrapper .module.stoerer-header {
  width: 100%;
  height: 12rem;
  margin: 0;
  max-width: 100vw;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -2rem;
  z-index: -1;
}
@media (max-width: 1200px) {
  body .module-wrapper .module {
    padding: 0 2rem;
  }
}
@media (max-width: 1023px) {
  body .module-wrapper {
    width: 100vw;
  }
  body .module-wrapper .module {
    padding: 0 7rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .module-wrapper .module.stoerer-header {
    margin-top: -2rem;
    z-index: 0;
  }
}
@media (max-width: 767px) {
  body .module-wrapper .module {
    padding: 0 2rem;
  }
  body .module-wrapper .module.stoerer-header  {
    margin-top: 2rem;
  }
}
@media (max-width: 510px) {
  body .module-wrapper .module.stoerer-header  {
    margin-top: 0rem;
  }
}
@media (max-width: 480px) {
  body .module-wrapper .module {
    padding: 0 1rem;
  }
  body .module-wrapper .module.content, body .module-wrapper .module.stoerer {
    padding: 2rem 1rem;
  }
  body .module-wrapper .module.stoerer {
    margin: -5px 0 0 0;
  }
  body .module-wrapper .module.stoerer.stoerer-header {
    padding: 0;
    margin-bottom: 7rem;
    z-index: 0;
  }
}
@media (max-width: 340px) {
  body .module-wrapper .module.stoerer-header {
    top: -6rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

.sub-heading {
  font-size: 1.5rem;
}

.bold {
  font-weight: bold;
}

.semibold {
  font-weight: 600;
}

.center {
  text-align: center;
}

p {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1rem;
}

.stoerer-header-text {
  padding: 0 7rem;
}

.icon-with-heading {
  justify-content: flex-start;
  gap: 1rem;
}
.icon-with-heading .icon {
  width: 3.5rem;
  height: 3.5rem;
}
.icon-with-heading h1,
.icon-with-heading h2 {
  position: relative;
  display: inline-block;
  padding: 0 5px;
  z-index: 1;
}
.icon-with-heading h1 > .line,
.icon-with-heading h2 > .line {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
}
.icon-with-heading h1 > .line.line-hilfe-und-beratung,
.icon-with-heading h2 > .line.line-hilfe-und-beratung {
  background: #ff7388;
}
.icon-with-heading h1 > .line.line-essen,
.icon-with-heading h2 > .line.line-essen {
  background: #fea623;
}
.icon-with-heading h1 > .line.line-freizeit,
.icon-with-heading h2 > .line.line-freizeit {
  background: #42a2c4;
}
.icon-with-heading h1 > .line.line-kleidung,
.icon-with-heading h2 > .line.line-kleidung {
  background: #34b6a2;
}
.icon-with-heading h1 > .line.line-purple,
.icon-with-heading h2 > .line.line-purple {
  background: #9367cc;
}

.heading-with-marker .line-marker {
  width: 0.75rem;
  height: 2rem;
  background: #42a2c4;
  margin-right: 1rem;
}
.heading-with-marker .line-marker.big {
  width: 1rem;
  height: 2.75rem;
  margin-right: 1rem;
}

@media (max-width: 1023px) {
  h1 {
    font-size: 2rem;
  }
  .sub-heading {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .stoerer-header-text {
    padding: 0 4rem;
  }
  .heading-with-marker .line-marker {
    margin-left: -2rem;
  }
}
@media (max-width: 600px) {
  h2 {
    font-size: 2rem;
  }
  .icon-with-heading .icon {
    width: 3rem;
    height: 3rem;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.35rem;
  }
  .icon-with-heading {
    gap: 0.5rem;
    white-space: nowrap;
  }
  .icon-with-heading .icon {
    width: 2.5rem;
    height: 2.5rem;
  }
  .heading-with-marker .line-marker {
    width: 0.5rem;
    margin-left: -1rem;
    margin-right: 0.5rem;
  }
  .heading-with-marker .line-marker.big {
    width: 0.5rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
}
.btn {
  padding: 0.7rem 1.5rem;
  border-radius: 7px;
  font-size: 1rem;
  background: none;
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 2px solid transparent;
  transition: color 0.4s ease, border-color 0.4s ease;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: left 0.4s ease;
  z-index: -1;
}
.btn.btn-pink:hover, .btn.btn-orange:hover, .btn.btn-blue:hover, .btn.btn-green:hover {
  color: #ffffff;
}
.btn.btn-pink:hover::before, .btn.btn-orange:hover::before, .btn.btn-blue:hover::before, .btn.btn-green:hover::before {
  left: 0;
}
.btn.btn-pink {
  color: #ff7388;
  border: 2px solid #ff7388;
}
.btn.btn-pink:hover {
  border-color: #ff7388;
}
.btn.btn-pink::before {
  background: #ff7388;
}
.btn.btn-orange {
  color: #fea623;
  border: 2px solid #fea623;
}
.btn.btn-orange:hover {
  border-color: #fea623;
}
.btn.btn-orange::before {
  background: #fea623;
}
.btn.btn-blue {
  color: #42a2c4;
  border: 2px solid #42a2c4;
}
.btn.btn-blue:hover {
  border-color: #42a2c4;
}
.btn.btn-blue::before {
  background: #42a2c4;
}
.btn.btn-green {
  color: #34b6a2;
  border: 2px solid #34b6a2;
}
.btn.btn-green:hover {
  border-color: #34b6a2;
}
.btn.btn-green::before {
  background: #34b6a2;
}
.btn:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1rem;
  color: #000000;
}
a:hover {
  cursor: pointer;
}

.footer-home a {
  color: rgba(147, 103, 204, 0.5);
}
.footer-home a:hover {
  color: #9367cc;
}

.footer-culture a {
  color: rgba(66, 162, 196, 0.5);
}
.footer-culture a:hover {
  color: #42a2c4;
}

.slider {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  box-shadow: 2.5px 2px 1px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-top: 2rem;
}
.slider .slider-item {
  display: flex;
  flex-direction: column;
}
.slider .slider-item .flex-module {
  display: flex;
  gap: 2rem;
  align-items: flex-start !important;
  flex-direction: column;
}
.slider .slider-item .flex-module .slider-img {
  width: 60%;
  height: 20rem;
  margin: 0;
  padding-left: 2rem;
}
.slider .slider-item .flex-module .slider-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider .slider-item .flex-module .slider-content {
  width: 40%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  gap: 1rem;
  padding-right: 2rem;
}
.slider .slider-item .flex-module .slider-content .location {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.slider .slider-item .flex-module h4 {
  margin: 0;
}
.slider .slider-item .flex-module p {
  margin: 0;
}

.slick-next,
.slick-prev {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 4rem;
  height: 2.5rem;
  border: none;
  background: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  overflow: hidden;
}
.slick-next:hover,
.slick-prev:hover {
  cursor: pointer;
}

.slider-pink .slick-next:nth-of-type(1),
.slider-pink .slick-prev:nth-of-type(1) {
  background-image: url("../assets/icons/arrows/ic_arrow-left-pink.svg");
}
.slider-pink .slick-next:nth-of-type(2),
.slider-pink .slick-prev:nth-of-type(2) {
  background-image: url("../assets/icons/arrows/ic_arrow-right-pink.svg");
}
.slider-pink .slick-dots li.slick-active {
  background-color: #ff7388;
}

.slider-orange .slick-next:nth-of-type(1),
.slider-orange .slick-prev:nth-of-type(1) {
  background-image: url("../assets/icons/arrows/ic_arrow-left-orange.svg");
}
.slider-orange .slick-next:nth-of-type(2),
.slider-orange .slick-prev:nth-of-type(2) {
  background-image: url("../assets/icons/arrows/ic_arrow-right-orange.svg");
}
.slider-orange .slick-dots li.slick-active {
  background-color: #fea623;
}

.slider-blue .slick-next:nth-of-type(1),
.slider-blue .slick-prev:nth-of-type(1) {
  background-image: url("../assets/icons/arrows/ic_arrow-left-blue.svg");
}
.slider-blue .slick-next:nth-of-type(2),
.slider-blue .slick-prev:nth-of-type(2) {
  background-image: url("../assets/icons/arrows/ic_arrow-right-blue.svg");
}
.slider-blue .slick-dots li.slick-active {
  background-color: #42a2c4;
}

.slider-green .slick-next:nth-of-type(1),
.slider-green .slick-prev:nth-of-type(1) {
  background-image: url("../assets/icons/arrows/ic_arrow-left-green.svg");
}
.slider-green .slick-next:nth-of-type(2),
.slider-green .slick-prev:nth-of-type(2) {
  background-image: url("../assets/icons/arrows/ic_arrow-right-green.svg");
}
.slider-green .slick-dots li.slick-active {
  background-color: #34b6a2;
}

.slick-next {
  right: 0;
}

.slick-prev {
  left: 0;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
}
.slick-dots li {
  margin-top: 0;
  width: 5rem;
  height: 5px;
  background-color: #ffffff;
  border-radius: 2px;
  transition: background-color 0.3s;
}
.slick-dots li button {
  display: none;
}

@media (max-width: 1400px) {
  body .module-wrapper .module .flex-module.slider-module {
    flex-direction: column;
  }
  .slider {
    padding: 0;
  }
  .slider.slider-pink .color-overlay {
    background: rgba(255, 115, 136, 0.3);
  }
  .slider.slider-orange .color-overlay {
    background: rgba(254, 166, 35, 0.3);
  }
  .slider.slider-blue .color-overlay {
    background: rgba(66, 162, 196, 0.3);
  }
  .slider.slider-green .color-overlay {
    background: rgba(52, 182, 162, 0.3);
  }
  .slider .slider-item .flex-module {
    gap: 1.5rem;
  }
  .slider .slider-item .flex-module .slider-img {
    width: 100%;
    height: 14rem;
    padding-left: 0;
  }
  .slider .slider-item .flex-module .slider-img .color-overlay {
    position: relative;
    top: -14rem;
    left: 0;
    width: 100%;
    height: 14rem;
    border-radius: 15px 15px 0 0;
  }
  .slider .slider-item .flex-module .slider-img img {
    border-radius: 15px 15px 0 0;
  }
  .slider .slider-item .flex-module .slider-content {
    gap: 0.5rem;
    width: 80%;
    padding: 1rem 6rem 4rem 6rem;
    align-self: center;
  }
  .slick-next,
.slick-prev {
    top: calc(50% + 7rem);
    transform: translateY(-50%);
  }
}
@media (max-width: 1200px) {
  .slider .slider-item .flex-module .slider-content {
    width: 70%;
  }
}
@media (max-width: 680px) {
  .slider .slider-item .flex-module .slider-img {
    height: 10rem;
  }
  .slider .slider-item .flex-module .slider-img .color-overlay {
    top: -10rem;
    height: 10rem;
  }
  .slider .slider-item .flex-module .slider-content {
    width: 65%;
  }
  .slick-dots li {
    width: 2.5rem;
  }
  .slick-next,
.slick-prev {
    top: calc(50% + 5rem);
  }
}
@media (max-width: 480px) {
  .slider .slider-item .flex-module .slider-img {
    height: 8rem;
  }
  .slider .slider-item .flex-module .slider-img .color-overlay {
    top: -8rem;
    height: 8rem;
  }
  .slick-next,
.slick-prev {
    top: calc(50% + 4rem);
  }
}
.wave {
  width: 100%;
  height: 10rem;
}
.wave.header-wave {
  position: relative;
  top: -14rem;
  margin-bottom: -18rem;
  margin-top: 4rem;
}
.wave.mobile-wave {
  display: none;
}
.wave.footer-wave {
  position: relative;
  bottom: -5.5rem;
}

@media (min-width: 767px) and (max-width: 1023px) {
  .wave {
    height: 7rem;
    z-index: 1;
  }
  .wave.header-wave {
    top: -18rem;
  }
  .wave.footer-wave {
    bottom: -3.5rem;
  }
  .subpage .wave.header-wave {
    top: -15.5rem;
  }
  .subpage .wave.footer-wave {
    position: unset;
  }
}
@media (max-width: 767px) {
  .wave {
    height: 6rem;
  }
  .wave.header-wave {
    top: -14.5rem;
  }
  .wave.footer-wave {
    bottom: -3.5rem;
  }
  .subpage .wave.header-wave {
    top: -16rem;
  }
}
@media (max-width: 680px) {
  .wave.header-wave {
    top: -15.5rem;
  }
}
@media (max-width: 503px) {
  .wave.header-wave {
    top: -17rem;
  }
}
@media (max-width: 480px) {
  .wave.header-wave {
    z-index: 1;
  }
  .wave.mobile-wave {
    display: block;
    margin-bottom: -13rem;
  }
  .wave.footer-wave {
    bottom: -3rem;
  }
}
@media (max-width: 340px) {
  .wave.header-wave {
    top: -21rem;
  }
}
.module-wrapper.header {
  width: 100vw;
  margin: 0 auto;
}
.module-wrapper.header .module {
  width: 80vw;
  padding: 18rem 0 8rem 0;
}
.module-wrapper.header .module.header-text {
  position: relative;
  bottom: 48rem;
  margin-bottom: -49rem;
  color: #ffffff;
}
.module-wrapper.header .module.header-text .sub-heading {
  width: 50%;
}
.module-wrapper.header .module.stoerer {
  background: linear-gradient(to bottom, #e6dcf7 0%, #c8cbec 100%);
  color: #9367cc;
}
.module-wrapper.header .header-img {
  width: 100%;
}
.module-wrapper.header .text-wrapper {
  color: #ffffff;
}
.module-wrapper.header .text-wrapper .sub-heading {
  width: 50%;
}

@media (max-width: 1023px) {
  .module-wrapper.header .module {
    padding-top: 24rem;
  }
}
@media (max-width: 767px) {
  .module-wrapper.header .header-img {
    height: 40rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 480px) {
  .module-wrapper.header .header-img {
    height: 90vh;
  }
  .module-wrapper.header .module.header-text {
    bottom: 46rem;
  }
  .module-wrapper.header .module.header-text .sub-heading {
    width: 100%;
  }
}
@media (max-width: 340px) {
  .module-wrapper.header .header-img {
    height: 75vh;
  }
  .module-wrapper.header .module.header-text {
    bottom: 50rem;
  }
}
.module-wrapper.footer {
  width: 100%;
  margin: 0;
}
.module-wrapper.footer.footer-home {
  background: linear-gradient(to bottom, #e6dcf7 0%, #c8cbec 100%);
  color: #9367cc;
}
.module-wrapper.footer.footer-culture {
  color: #42a2c4;
}
.module-wrapper.footer .flex-module {
  flex-direction: column !important;
  padding: 4rem 0;
}
.module-wrapper.footer .flex-module h5,
.module-wrapper.footer .flex-module a:last-of-type,
.module-wrapper.footer .flex-module .instagram-icon {
  margin-bottom: 2rem;
}
.module-wrapper.footer .flex-module .instagram-icon {
  width: 2.5rem;
  height: auto;
}

.navigation-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 12vw;
  z-index: 1;
}
.navigation-wrapper .navbar {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.navigation-wrapper .navbar .nav-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
  position: relative;
}
.navigation-wrapper .navbar .nav-item.active span {
  width: 100%;
  right: 0;
  transition: all 1s ease;
}
.navigation-wrapper .navbar .nav-item .nav-icon {
  display: none;
}
.navigation-wrapper .navbar .nav-item a {
  text-decoration: none;
  font-size: 1rem;
  display: block;
  white-space: nowrap;
}
.navigation-wrapper .navbar .nav-item a.small {
  padding-left: 1rem;
  font-size: 0.875rem !important;
}
.navigation-wrapper .navbar .nav-item a.purple {
  color: #9367cc;
}
.navigation-wrapper .navbar .nav-item a.pink {
  color: #ff7388;
}
.navigation-wrapper .navbar .nav-item a.orange {
  color: #fea623;
}
.navigation-wrapper .navbar .nav-item a.blue {
  color: #42a2c4;
}
.navigation-wrapper .navbar .nav-item a.green {
  color: #34b6a2;
}
.navigation-wrapper .navbar .nav-item a:hover {
  font-weight: 600;
}
.navigation-wrapper .navbar .nav-item span {
  position: absolute;
  bottom: -0.5rem;
  right: -100%;
  height: 2px;
  transition: all 1s ease;
}
.navigation-wrapper .navbar .nav-item span.purple-line {
  background: #9367cc;
}
.navigation-wrapper .navbar .nav-item span.pink-line {
  background: #ff7388;
}
.navigation-wrapper .navbar .nav-item span.orange-line {
  background: #fea623;
}
.navigation-wrapper .navbar .nav-item span.blue-line {
  background: #42a2c4;
}
.navigation-wrapper .navbar .nav-item span.green-line {
  background: #34b6a2;
}

@media (max-width: 1023px) {
  .navigation-wrapper {
    z-index: 4;
  }
  .navigation-wrapper .navbar {
    padding-left: 2rem;
  }
  .navigation-wrapper .navbar .nav-item.icon-with-nav-item {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
  .navigation-wrapper .navbar .nav-item .smaller-items {
    position: absolute;
    left: 4rem;
    top: 3rem;
  }
  .navigation-wrapper .navbar .nav-item .nav-icon {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
  }
  .navigation-wrapper .navbar .nav-item a {
    font-size: 1.5rem;
  }
  .navigation-wrapper .navbar .nav-item a.small {
    font-size: 1.25rem !important;
    margin-left: -1.5rem;
  }
  .navigation-wrapper .navbar .nav-item span {
    height: 3px;
  }
  .navigation-wrapper .navbar .nav-item span.subpage {
    position: absolute;
    top: 9rem;
  }
  .navigation-wrapper .navbar .nav-item.last-item {
    position: relative;
    top: 6rem;
  }
  .navigation-wrapper.mobile-nav-wrapper {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url("../assets/images/img_menu-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 1s ease;
  }
  .navigation-wrapper.mobile-nav-wrapper .hide-on-mobile {
    display: none;
  }
  .navigation-wrapper.mobile-nav-wrapper.collapsed {
    right: -100vw;
    left: 100vw;
    width: 0;
    transition: all 0.5s ease;
  }
  .navigation-wrapper.mobile-nav-wrapper.collapsed nav > * {
    opacity: 0;
    transition: all 0.5s ease;
  }
  .navigation-wrapper .burger-menu {
    display: block;
    cursor: pointer;
    position: fixed;
    background: #ffffff;
    padding: 1rem;
    right: 0;
    top: 1rem;
    z-index: 3;
  }
  .navigation-wrapper .burger-menu.fixed {
    position: fixed;
  }
  .navigation-wrapper .burger-menu.no-background {
    background: none;
  }
  .navigation-wrapper .burger-menu .burger-line .line {
    width: 27px;
    height: 3px;
    transition: 0.5s;
    border-radius: 2px;
  }
  .navigation-wrapper .burger-menu .burger-line .line.purple {
    background-color: #9367cc;
  }
  .navigation-wrapper .burger-menu .burger-line .line.blue {
    background-color: #42a2c4;
  }
  .navigation-wrapper .burger-menu .burger-line .line.line-2 {
    margin: 5px 0;
  }
  .navigation-wrapper .burger-menu .burger-line.animate .line-1 {
    transform: rotate(-45deg) translate(-9px, 0);
  }
  .navigation-wrapper .burger-menu .burger-line.animate .line-2 {
    opacity: 0;
  }
  .navigation-wrapper .burger-menu .burger-line.animate .line-3 {
    transform: rotate(45deg) translate(-11px, -2px);
  }
}
@media (max-width: 480px) {
  .navigation-wrapper .navbar .nav-item .nav-icon {
    width: 2rem;
    height: 2rem;
  }
  .navigation-wrapper .navbar .nav-item a {
    font-size: 1.25rem;
  }
  .navigation-wrapper .navbar .nav-item a.small {
    font-size: 1rem !important;
    margin-left: -2rem;
  }
  .navigation-wrapper .navbar .nav-item span {
    height: 2px;
  }
  .navigation-wrapper .navbar .nav-item span.subpage {
    top: 8rem;
  }
}
.module-wrapper.hilfe-und-beratung .stoerer {
  background: #ff7388;
}
.module-wrapper.hilfe-und-beratung .content {
  background: linear-gradient(to bottom, #ffcdd1 0%, #f07b84 100%);
}
.module-wrapper.essen .stoerer {
  background: #fea623;
}
.module-wrapper.essen .content {
  background: linear-gradient(to bottom, #ffdeac 0%, #ffbe5e 100%);
}
.module-wrapper.freizeit .stoerer {
  background: #42a2c4;
}
.module-wrapper.freizeit .content {
  background: linear-gradient(to bottom, #cee9fc 0%, #8fc5d9 100%);
}
.module-wrapper.kleidung .stoerer {
  background: #34b6a2;
}
.module-wrapper.kleidung .content {
  background: linear-gradient(to bottom, #c6fbff 0%, #8fd9cc 100%);
}
.module-wrapper .module.stoerer, .module-wrapper .module.content {
  padding: 2.5rem 7rem;
}
.module-wrapper .module.stoerer {
  height: auto;
}
.module-wrapper .module.show-on-mobile {
  display: none;
}
.module-wrapper .module .flex-module.items {
  justify-content: space-around;
  height: 7rem;
}
.module-wrapper .module .flex-module.items .item {
  height: 5rem;
  display: flex;
  align-items: center;
}
.module-wrapper .module .flex-module.items .item.item-bottom {
  align-self: flex-end;
}
.module-wrapper .module .flex-module.items .item.item-top {
  align-self: flex-start;
}
.module-wrapper .module .flex-module.items .item.skateboard img {
  width: 7rem;
}
.module-wrapper .module .flex-module.items .item img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}
.module-wrapper .module .sport .heading-with-marker,
.module-wrapper .module .kultur .heading-with-marker,
.module-wrapper .module .veranstaltungen .heading-with-marker {
  margin-top: 5rem;
  margin-bottom: -1rem;
}
.module-wrapper .module .sport .alle-angebote,
.module-wrapper .module .kultur .alle-angebote,
.module-wrapper .module .veranstaltungen .alle-angebote {
  padding-left: 1.75rem;
}
.module-wrapper .module .sport .alle-angebote:hover .blue,
.module-wrapper .module .kultur .alle-angebote:hover .blue,
.module-wrapper .module .veranstaltungen .alle-angebote:hover .blue {
  color: #42a2c4;
}
.module-wrapper .module .sport .alle-angebote:hover .arrow-icon,
.module-wrapper .module .kultur .alle-angebote:hover .arrow-icon,
.module-wrapper .module .veranstaltungen .alle-angebote:hover .arrow-icon {
  content: url("../assets/icons/arrows/ic_arrow-right-blue.svg");
}

@media (max-width: 1200px) {
  .module-wrapper .module.stoerer, .module-wrapper .module.content {
    padding: 2rem 4rem;
  }
}
@media (max-width: 1023px) {
  .module-wrapper .module.stoerer, .module-wrapper .module.content {
    padding: 2.5rem 7rem;
  }
}
@media (max-width: 767px) {
  .module-wrapper .module.content, .module-wrapper .module.stoerer {
    padding: 2rem 2rem;
  }
  .module-wrapper .module .flex-module.items {
    height: 4rem;
  }
  .module-wrapper .module .flex-module.items .item {
    height: 4rem;
  }
  .module-wrapper .module .sport .alle-angebote,
.module-wrapper .module .kultur .alle-angebote,
.module-wrapper .module .veranstaltungen .alle-angebote {
    padding-left: 0;
  }
}
@media (max-width: 480px) {
  .module-wrapper.hilfe-und-beratung .show-on-mobile, .module-wrapper.essen .show-on-mobile, .module-wrapper.freizeit .show-on-mobile, .module-wrapper.kleidung .show-on-mobile {
    display: block;
  }
  .module-wrapper.hilfe-und-beratung .hide-on-mobile, .module-wrapper.essen .hide-on-mobile, .module-wrapper.freizeit .hide-on-mobile, .module-wrapper.kleidung .hide-on-mobile {
    display: none;
  }
  .module-wrapper.hilfe-und-beratung .stoerer {
    background: #f07a83;
  }
  .module-wrapper.essen .stoerer {
    background: #ffbe5f;
  }
  .module-wrapper.freizeit .stoerer {
    background: #8fc5d9;
  }
  .module-wrapper.kleidung .stoerer {
    background: #8fd9cc;
  }
  .module-wrapper .module .flex-module.items .item img {
    width: 70%;
  }
  .module-wrapper .module .sport .alle-angebote,
.module-wrapper .module .kultur .alle-angebote,
.module-wrapper .module .veranstaltungen .alle-angebote {
    padding-left: 0rem;
  }
}
.privacy .module-wrapper.back-wrapper, .privacy .module-wrapper.privacy-content, .privacy .module-wrapper.imprint-content, .imprint .module-wrapper.back-wrapper, .imprint .module-wrapper.privacy-content, .imprint .module-wrapper.imprint-content {
  margin: 5rem auto;
}
.privacy .module-wrapper .module h2, .imprint .module-wrapper .module h2 {
  font-size: 1.5rem;
}
.privacy .module-wrapper .module ul, .imprint .module-wrapper .module ul {
  font-family: "Source Sans 3", sans-serif;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}
.privacy .module-wrapper .module ul a:hover, .imprint .module-wrapper .module ul a:hover {
  color: #9367cc;
}
.privacy .module-wrapper .module ul.dots, .imprint .module-wrapper .module ul.dots {
  list-style-type: disc;
  padding-left: 1rem;
}
.privacy .module-wrapper .module .flex-module.back, .imprint .module-wrapper .module .flex-module.back {
  align-items: center;
  gap: 0.7rem;
}
.privacy .module-wrapper .module .flex-module.back img, .imprint .module-wrapper .module .flex-module.back img {
  height: 2.5rem;
}
.privacy .module-wrapper .module .flex-module.back a, .imprint .module-wrapper .module .flex-module.back a {
  font-size: 1.25rem;
}
.privacy .module-wrapper .module .flex-module.back:hover, .imprint .module-wrapper .module .flex-module.back:hover {
  cursor: pointer;
}
.privacy .module-wrapper .module .flex-module.back:hover a, .imprint .module-wrapper .module .flex-module.back:hover a {
  color: #9367cc;
}
.privacy .module-wrapper .module .flex-module.hide-on-mobile, .imprint .module-wrapper .module .flex-module.hide-on-mobile {
  display: block;
}
.privacy .module-wrapper .module .flex-module.show-on-mobile, .imprint .module-wrapper .module .flex-module.show-on-mobile {
  display: none;
}
@media (max-width: 767px) {
  .privacy .module-wrapper.back-wrapper, .imprint .module-wrapper.back-wrapper {
    margin: 2rem auto;
  }
  .privacy .module-wrapper.privacy-content, .privacy .module-wrapper.imprint-content, .imprint .module-wrapper.privacy-content, .imprint .module-wrapper.imprint-content {
    margin-top: 0;
  }
}
@media (max-width: 480px) {
  .privacy .module-wrapper .module h2, .imprint .module-wrapper .module h2 {
    font-size: 1.25rem !important;
  }
  .privacy .module-wrapper .module .flex-module.icon-with-heading.hide-on-mobile, .imprint .module-wrapper .module .flex-module.icon-with-heading.hide-on-mobile {
    display: none;
  }
  .privacy .module-wrapper .module .flex-module.icon-with-heading.show-on-mobile, .imprint .module-wrapper .module .flex-module.icon-with-heading.show-on-mobile {
    display: block;
  }
  .privacy .module-wrapper .module .flex-module.icon-with-heading.show-on-mobile .heading-with-line.first-part, .imprint .module-wrapper .module .flex-module.icon-with-heading.show-on-mobile .heading-with-line.first-part {
    margin-bottom: 0;
  }
  .privacy .module-wrapper .module .flex-module.icon-with-heading.show-on-mobile .heading-with-line.second-part, .imprint .module-wrapper .module .flex-module.icon-with-heading.show-on-mobile .heading-with-line.second-part {
    margin-top: 0;
  }
}

.subpage {
  background: #CDE9FC;
}
.subpage .module-wrapper.header .header-img {
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=main.css.map */