/* COLORS */
$white: #FFFFFF;
$black: #000000;
$pink: #FF7388;
$orange: #FEA623;
$blue: #42A2C4;
$green: #34B6A2;
$purple: #6D5492;

/* GRADIENTS */
$pink-gradient: linear-gradient(to bottom, #FFCDD1 0%, #F07B84 100%);
$orange-gradient: linear-gradient(to bottom, #FFDEAC 0%, #FFBE5E 100%);
$blue-gradient: linear-gradient(to bottom, #CEE9FC 0%, #8FC5D9 100%);
$green-gradient: linear-gradient(to bottom, #C6FBFF 0%, #8FD9CC 100%);
$purple-gradient: linear-gradient(to bottom, #E6DCF7 0%, #C8CBEC 100%);