/* COLORS */
/* GRADIENTS */
/* FONTS */
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("../font/Source_Sans_3/SourceSans3-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("../font/Source_Sans_3/SourceSans3-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  color: #000000;
}
body .module-wrapper {
  width: 70vw;
  margin: 10rem auto;
}
body .module-wrapper .module {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 2rem;
}
body .module-wrapper .module .flex-module {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

.sub-heading {
  font-size: 1.5rem;
}

.bold {
  font-weight: bold;
}

.semibold {
  font-weight: 600;
}

.center {
  text-align: center;
}

p {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1rem;
}

.btn {
  padding: 0.7rem 1.5rem;
  border-radius: 7px;
  font-size: 1rem;
  background: none;
  margin-top: 10%;
}
.btn.btn-pink {
  color: #ff7388;
  border: 2px solid #ff7388;
}
.btn.btn-pink:hover {
  background: #ff7388;
}
.btn:hover {
  cursor: pointer;
  color: #ffffff;
}

a {
  text-decoration: none;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1rem;
  color: #000000;
}
a:hover {
  cursor: pointer;
}

.slider {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  box-shadow: 2.5px 2px 1px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  min-width: 300px; /* Added min-width */
}
.slider .slider-item {
  display: flex;
  flex-direction: column;
}
.slider .slider-item .flex-module {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  flex-direction: column;
}
.slider .slider-item .flex-module .slider-img {
  width: 100%;
  margin: 0;
}
.slider .slider-item .flex-module .slider-img img {
  width: 100%;
}
.slider .slider-item .flex-module .slider-content {
  width: 100%;
  margin: 0;
}
.slider .slider-item .flex-module .slider-content p {
  opacity: 100%;
}
.slider .slick-next,
.slider .slick-prev {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 5%;
  height: 10%;
  border: none;
  background: none;
}
.slider .slick-next:hover,
.slider .slick-prev:hover {
  cursor: pointer;
}
.slider .slick-next:nth-of-type(1),
.slider .slick-prev:nth-of-type(1) {
  content: url("../assets/icons/arrows/ic_arrow-left-pink.svg");
}
.slider .slick-next:nth-of-type(2),
.slider .slick-prev:nth-of-type(2) {
  content: url("../assets/icons/arrows/ic_arrow-right-pink.svg");
}
.slider .slick-next {
  right: 0;
}
.slider .slick-prev {
  left: 0;
}
.slider .slick-dots {
  position: absolute;
  bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.slider .slick-dots li {
  margin-top: 0;
  margin-right: 15px;
}
.slider .slick-dots li button {
  display: none;
}
.slider .slick-dots li {
  width: 74px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 2px;
  transition: background-color 0.3s;
}
.slider .slick-dots li.slick-active {
  background-color: #ff7388;
}

@media (min-width: 1400px) {
  .slider {
    flex-direction: row;
    padding: 2rem;
  }
  .slider .slider-item .flex-module {
    flex-direction: row;
    gap: 5rem;
    align-items: flex-start;
  }
  .slider .slider-item .flex-module .slider-img {
    width: 55%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 2%;
  }
  .slider .slider-item .flex-module .slider-img img {
    width: -webkit-fill-available;
  }
  .slider .slider-item .flex-module .slider-content {
    width: 55%;
    margin-right: 5%;
    margin-top: -14%;
  }
  .slider .slider-item .flex-module .slider-content .slider-content p {
    opacity: 100%;
  }
}
@media (max-width: 600px) {
  .slider {
    padding: 1rem;
  }
  .slider .slider-item .flex-module {
    gap: 1rem;
  }
  .slider .slider-item .flex-module .slider-img {
    width: 100%;
    margin: 0 0 1rem 0;
  }
  .slider .slider-item .flex-module .slider-img img {
    width: 100%;
  }
  .slider .slider-item .flex-module .slider-content {
    width: 100%;
    margin: 0;
  }
  .slider .slider-item .flex-module .slider-content p {
    opacity: 100%;
  }
}
.module-wrapper.header {
  width: 100vw;
  margin: 0 auto;
  background: url("https://ann-kathrinhaas.github.io/Netzwerk-gegen-Kinderarmut/assets/images/img_header-home.png") no-repeat fixed center;
  background-size: cover;
}
.module-wrapper.header .module {
  width: 80vw;
  padding: 18rem 0 8rem 7rem;
}
.module-wrapper.header .module.stoerer {
  background: linear-gradient(to bottom, #e6dcf7 0%, #c8cbec 100%);
  color: #9367cc;
}
.module-wrapper.header .header-img {
  width: 100%;
}
.module-wrapper.header .text-wrapper {
  color: #ffffff;
}
.module-wrapper.header .text-wrapper .sub-heading {
  width: 50%;
}

.module-wrapper.footer {
  background: linear-gradient(to bottom, #e6dcf7 0%, #c8cbec 100%);
  color: #9367cc;
  width: 100%;
  margin: 0;
}
.module-wrapper.footer .flex-module {
  flex-direction: column !important;
  padding: 4rem 0;
}
.module-wrapper.footer .flex-module h5,
.module-wrapper.footer .flex-module a:last-of-type,
.module-wrapper.footer .flex-module .instagram-icon {
  margin-bottom: 2rem;
}
.module-wrapper.footer .flex-module .instagram-icon {
  width: 2.5rem;
  height: auto;
}
.module-wrapper.footer .flex-module a {
  color: rgba(147, 103, 204, 0.5);
}
.module-wrapper.footer .flex-module a:hover {
  color: #9367cc;
}

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 10vw;
}
.navigation .navbar {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.navigation .navbar .nav-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
  position: relative;
}
.navigation .navbar .nav-item.active span {
  width: 100%;
  right: 0;
  transition: all 1s ease;
}
.navigation .navbar .nav-item a {
  text-decoration: none;
  font-size: 1rem;
  display: block;
}
.navigation .navbar .nav-item a.purple {
  color: #9367cc;
}
.navigation .navbar .nav-item a.pink {
  color: #ff7388;
}
.navigation .navbar .nav-item a.orange {
  color: #fea623;
}
.navigation .navbar .nav-item a.blue {
  color: #42a2c4;
}
.navigation .navbar .nav-item a.green {
  color: #34b6a2;
}
.navigation .navbar .nav-item a:hover {
  font-weight: 600;
}
.navigation .navbar .nav-item span {
  position: absolute;
  bottom: -0.5rem;
  right: -100%;
  height: 2px;
  transition: all 1s ease;
}
.navigation .navbar .nav-item span.purple-line {
  background: #9367cc;
}
.navigation .navbar .nav-item span.pink-line {
  background: #ff7388;
}
.navigation .navbar .nav-item span.orange-line {
  background: #fea623;
}
.navigation .navbar .nav-item span.blue-line {
  background: #42a2c4;
}
.navigation .navbar .nav-item span.green-line {
  background: #34b6a2;
}

.module-wrapper.hilfe-und-beratung .stoerer {
  background: #ff7388;
}
.module-wrapper.hilfe-und-beratung .content {
  background: linear-gradient(to bottom, #ffcdd1 0%, #f07b84 100%);
}
.module-wrapper.essen .stoerer {
  background: #fea623;
}
.module-wrapper.essen .content {
  background: linear-gradient(to bottom, #ffdeac 0%, #ffbe5e 100%);
}
.module-wrapper.freizeit .stoerer {
  background: #42a2c4;
}
.module-wrapper.freizeit .content {
  background: linear-gradient(to bottom, #cee9fc 0%, #8fc5d9 100%);
}
.module-wrapper.kleidung .stoerer {
  background: #34b6a2;
}
.module-wrapper.kleidung .content {
  background: linear-gradient(to bottom, #c6fbff 0%, #8fd9cc 100%);
}
.module-wrapper .module.stoerer, .module-wrapper .module.content {
  padding: 2.5rem 7rem;
}
.module-wrapper .module.stoerer {
  height: auto;
}
.module-wrapper .module .flex-module.items {
  justify-content: space-around;
  height: 7rem;
}
.module-wrapper .module .flex-module.items .item {
  height: 5rem;
  display: flex;
  align-items: center;
}
.module-wrapper .module .flex-module.items .item.item-bottom {
  align-self: flex-end;
}
.module-wrapper .module .flex-module.items .item.item-top {
  align-self: flex-start;
}
.module-wrapper .module .flex-module.items .item img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}
.module-wrapper .module .flex-module.icon-with-heading {
  justify-content: flex-start;
  gap: 1rem;
}
.module-wrapper .module .flex-module.icon-with-heading .icon {
  width: 3.5rem;
  height: 3.5rem;
}
.module-wrapper .module .flex-module.icon-with-heading h2 {
  position: relative;
  display: inline-block;
  padding: 0 5px;
  z-index: 0;
}
.module-wrapper .module .flex-module.icon-with-heading h2 > .line {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
}
.module-wrapper .module .flex-module.icon-with-heading h2 > .line.line-hilfe-und-beratung {
  background: #ff7388;
}
.module-wrapper .module .flex-module.icon-with-heading h2 > .line.line-essen {
  background: #fea623;
}
.module-wrapper .module .flex-module.icon-with-heading h2 > .line.line-freizeit {
  background: #42a2c4;
}
.module-wrapper .module .flex-module.icon-with-heading h2 > .line.line-kleidung {
  background: #34b6a2;
}
.module-wrapper .module .sport .heading-with-marker,
.module-wrapper .module .kultur .heading-with-marker,
.module-wrapper .module .veranstaltungen .heading-with-marker {
  margin-top: 5rem;
  margin-bottom: -1rem;
}
.module-wrapper .module .sport .alle-angebote,
.module-wrapper .module .kultur .alle-angebote,
.module-wrapper .module .veranstaltungen .alle-angebote {
  padding-left: 1.75rem;
}
.module-wrapper .module .sport .alle-angebote:hover .blue,
.module-wrapper .module .kultur .alle-angebote:hover .blue,
.module-wrapper .module .veranstaltungen .alle-angebote:hover .blue {
  color: #42a2c4;
}
.module-wrapper .module .sport .alle-angebote:hover .arrow-icon,
.module-wrapper .module .kultur .alle-angebote:hover .arrow-icon,
.module-wrapper .module .veranstaltungen .alle-angebote:hover .arrow-icon {
  content: url("https://ann-kathrinhaas.github.io/Netzwerk-gegen-Kinderarmut/assets/icons/ic_arrow-right-blue.svg") !important;
}
.module-wrapper .module .heading-with-marker .line-marker {
  width: 0.75rem;
  height: 2rem;
  background: #42a2c4;
  margin-right: 1rem;
}/*# sourceMappingURL=main.css.map */