/* COLORS */
$white: #ffffff;
$black: #000000;
$pink: #ff7388;
$orange: #fea623;
$blue: #42a2c4;
$green: #34b6a2;
$purple: #9367cc;

/* STOERER MOBILE */
$pink-m: #f07a83;
$orange-m: #ffbe5f;
$blue-m: #8fc5d9;
$green-m: #8fd9cc;

/* GRADIENTS */
$pink-gradient: linear-gradient(to bottom, #ffcdd1 0%, #f07b84 100%);
$orange-gradient: linear-gradient(to bottom, #ffdeac 0%, #ffbe5e 100%);
$blue-gradient: linear-gradient(to bottom, #cee9fc 0%, #8fc5d9 100%);
$green-gradient: linear-gradient(to bottom, #c6fbff 0%, #8fd9cc 100%);
$purple-gradient: linear-gradient(to bottom, #e6dcf7 0%, #c8cbec 100%);

/* BACKGROUNDS */
$blue-bg: #CDE9FC;

/* FONTS */
@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans 3";
    src: url("../font/Source_Sans_3/SourceSans3-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans 3";
    src: url("../font/Source_Sans_3/SourceSans3-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

$font-montserrat: "Montserrat", sans-serif;
$font-source-sans: "Source Sans 3", sans-serif;

/* Sizes */
$page-max-width: 80rem; //1280px

/* Media Queries */
$t-landscape-min: 1200px;
$t-landscape-max: 1440px;
$t-portrait-min: 768px;
$t-portrait-max: 1023px;

$p-landscape-min: 481px;
$p-landscape-max: 767px;
$p-portrait-max: 480px;

// Base
@import "base/base";
@import "base/typography";

// Components
@import "components/buttons";
@import "components/links";
@import "components/slider";
@import "components/waves";

// Layout
@import "layout/header";
@import "layout/footer";
@import "layout/navigation";

// Pages
@import "pages/home";
@import "pages/privacy";
@import "pages/subpage";