.module-wrapper {
    &.header {
        width: 100vw;
        min-height: 40vh;
        margin: 0 auto;

        .header-img {
            width: 100vw;
        }

        .module {
            width: 80vw;
            padding: 18rem 0 8rem 7rem;

            &.stoerer {
                background: $purple-gradient;
                color: $purple;
            }
        }

        .header-img {
            width: 100%;
        }

        .text-wrapper {
            color: $white;

            .sub-heading {
                width: 50%;
            }
        }
    }
}