.module-wrapper {
    &.header {
        width: 100vw;
        margin: 0 auto;
        
        .module {
            width: 80vw;
            padding: 18rem 0 8rem 0;

            &.header-text {
                position: relative;
                bottom: 48rem;
                margin-bottom: -49rem;
                color: $white;

                .sub-heading {
                    width: 50%;
                }
            }

            &.stoerer {
                background: $purple-gradient;
                color: $purple;
            }
        }

        .header-img {
            width: 100%;
        }

        .text-wrapper {
            color: $white;

            .sub-heading {
                width: 50%;
            }
        }
    }
}

@media (max-width: 1023px) {
    .module-wrapper {
        &.header {
            .module {
                padding-top: 24rem;
            }
        }
    }
}

@media (max-width: 767px) {
    .module-wrapper {
        &.header {
            .header-img {
                height: 40rem;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 480px) {
    .module-wrapper {
        &.header {
            .header-img {
                height: 90vh;
            }
            
            .module {
                &.header-text {
                    bottom: 46rem;
    
                    .sub-heading {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 340px) {
  .module-wrapper {
      &.header {
          .header-img {
              height: 75vh;
          }

          .module {
              &.header-text {
                  bottom: 50rem;
              }
          } 
      }
  }    
}