body {
    margin: 0;
    padding: 0;
    color: $black;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    &.no-scroll {
        overflow: hidden;
    }

    .module-wrapper {
        width: 70vw;
        margin: 10rem auto;

        &.first-module-wrapper {
            margin-top: 5rem;
        }

        .module {
            max-width: 1024px;
            margin: 0 auto;
            padding: 0 7rem;

            &.test {
                max-width: unset;
                padding: 0;
            }

            .flex-module {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: auto;
            }

            &.stoerer-header {
                width: 100%;
                height: 12rem;
                margin: 0;
                max-width: 100vw;
                padding-left: 0;
                padding-right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                top: -2rem;
                z-index: -1;
            }
        }
    }

    @media (max-width: 1200px) {
        .module-wrapper {
            .module {
                padding: 0 2rem;
            }
        }  
    }

    @media (max-width: 1023px) {
        .module-wrapper {
            width: 100vw;

            .module {
                padding: 0 7rem;
            }
        }
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        .module-wrapper {
            .module {
                &.stoerer-header {
                    margin-top: -2rem;
                    z-index: 0;
                }
            }
        }
    }

    @media (max-width: 767px) {
        .module-wrapper {
            &.privacy-content, &.imprint-content {
                margin: 2rem auto;
            }
            .module {
                padding: 0 2rem;
                
                &.stoerer-header {
                    margin-top: 2rem;
                }
            }
        }
    }

    @media (max-width: 510px) {
        .module-wrapper {
            .module {
                &.stoerer-header {
                    margin-top: 0rem;
                }
            }
        }
    }

    @media (max-width: 480px) {
        .module-wrapper {
            .module {
                padding: 0 1rem;

                &.content, &.stoerer {
                    padding: 2rem 1rem;
                }

                &.stoerer {
                    margin: -5px 0 0 0;

                    &.stoerer-header {
                        padding: 0;
                        margin-bottom: 7rem;
                        z-index: 0;
                    }
                }
            }
        }
    }
}