body {
    margin: 0;
    padding: 0;
    color: $black;

    .module-wrapper {
        width: 70vw;
        margin: 10rem auto;

        .module {
            max-width: 1024px;
            margin: 0 auto;
            padding: 0 2rem;

            .flex-module {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: auto;
            }

            &.stoerer-header {
                width: 100%;
                height: 12rem;
                margin: 0;
                max-width: 100vw;
                padding-left: 0;
                padding-right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                top: -2rem;
                z-index: -1;
            }
        }
    }
}