a {
    text-decoration: none;
    font-family: $font-source-sans;
    font-size: 1rem;
    color: $black;

    &:hover {
        cursor: pointer;
    }
}

.footer-home {
    a {
        color: rgba($purple, 0.5);

        &:hover {
            color: $purple;
        }
    }
}

.footer-culture {
    a {
        color: rgba($blue, 0.5);

        &:hover {
            color: $blue;
        }
    }
}