.slider {
    display: flex;
    background: rgba($white, 0.7);
    border-radius: 20px;
    box-shadow: 2.5px 2px 1px rgba($black, 0.1);
    padding: 2rem;

    .slider-item {
        .flex-module {
            gap: 2rem;
            align-items: flex-start;

            .slider-img {
                width: 55%;
                margin-left: 5%;
                margin-top: 5%;
                margin-bottom: 2%;

                img {
                    width: -webkit-fill-available;
                }

            }

            .slider-content {
                width: 55%;
                margin-right: 5%;
                margin-top: -14%;

                .slider-content p {
                    opacity: 0%;
                }


            }
        }
    }

    .slick-next,
    .slick-prev {
        display: flex;
        position: absolute;
        flex-direction: row;
        align-items: center; // 2. vertically center contents
        justify-content: center;
        top: 45%;
        bottom: 0;
        z-index: 1;
        width: 5%;
        height: 10%;
        border: none;
        background: none;

        &:hover {
            cursor: pointer;
        }

        &:nth-of-type(1) {
            content: url("../assets/icons/arrows/ic_arrow-left-pink.svg");
        }

        &:nth-of-type(2) {
            content: url("../assets/icons/arrows/ic_arrow-right-pink.svg");
        }
    }

    .slick-next {
        right: 1%;
    }

    .slick-prev {
        left: 1%;
    }

    .slick-dots {
        position: absolute;
        bottom: 10px; //Abstand unten
        width: 100%;
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .slick-dots li {
        margin-top: 0;
        margin-right: 15px;
    }

    .slick-dots li button {
        display: none;
    }
    
    .slick-dots li {
        width: 74px; //width line
        height: 5px; // height line
        background-color: $white; 
        border-radius: 2px; //round
        transition: background-color 0.3s;
    }
    
    .slick-dots li.slick-active {
        background-color: $pink; 
    }

}