.slider {
    display: flex;
    flex-direction: column;
    background: rgba($white, 0.7);
    border-radius: 20px;
    box-shadow: 2.5px 2px 1px rgba($black, 0.1);
    padding: 2rem;
    margin-top: 2rem;

    .slider-item {
        display: flex;
        flex-direction: column;

        .flex-module {
            display: flex;
            gap: 2rem;
            align-items: flex-start !important;
            flex-direction: column;

            .slider-img {
                width: 60%;
                height: 100%;
                margin: 0;
                padding-left: 2rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .slider-content {
                width: 40%;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-self: flex-start;
                gap: 1rem;
                padding-right: 2rem;
            }

            h4 {
                margin: 0;
            }

            p {
                margin: 0;
            }
        }
    }
}

.slick-next,
.slick-prev {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 4rem;
    height: 2.5rem;
    border: none;
    background: none;

    &:hover {
        cursor: pointer;
    }
}

.slider-pink {
    .slick-next,
    .slick-prev {
        &:nth-of-type(1) {
            content: url("../assets/icons/arrows/ic_arrow-left-pink.svg");
        }

        &:nth-of-type(2) {
            content: url("../assets/icons/arrows/ic_arrow-right-pink.svg");
        }
    }

    .slick-dots {
        li {
            &.slick-active {
                background-color: $pink;
            }
        }
    }
}

.slider-orange {
    .slick-next,
    .slick-prev {
        &:nth-of-type(1) {
            content: url("../assets/icons/arrows/ic_arrow-left-orange.svg");
        }

        &:nth-of-type(2) {
            content: url("../assets/icons/arrows/ic_arrow-right-orange.svg");
        }
    }

    .slick-dots {
        li {
            &.slick-active {
                background-color: $orange;
            }
        }
    }
}

.slider-blue {
    .slick-next,
    .slick-prev {
        &:nth-of-type(1) {
            content: url("../assets/icons/arrows/ic_arrow-left-blue.svg");
        }

        &:nth-of-type(2) {
            content: url("../assets/icons/arrows/ic_arrow-right-blue.svg");
        }
    }

    .slick-dots {
        li {
            &.slick-active {
                background-color: $blue;
            }
        }
    }
}

.slider-green {
    .slick-next,
    .slick-prev {
        &:nth-of-type(1) {
            content: url("../assets/icons/arrows/ic_arrow-left-green.svg");
        }

        &:nth-of-type(2) {
            content: url("../assets/icons/arrows/ic_arrow-right-green.svg");
        }
    }

    .slick-dots {
        li {
            &.slick-active {
                background-color: $green;
            }
        }
    }
}

.slick-next {
    right: 0;
}

.slick-prev {
    left: 0;
}

.slick-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;

    li {
        margin-top: 0;
        width: 5rem;
        height: 5px;
        background-color: $white;
        border-radius: 2px;
        transition: background-color 0.3s;

        button {
            display: none;
        }
    }
}

@media (max-width: 1400px) {
    body {
        .module-wrapper {
            .module {
                .flex-module {
                    &.slider-module {
                        flex-direction: column;
                    }
                }
            }
        }
    }

    .slider {
        padding: 0;

        &.slider-pink {
            .color-overlay {
                background: rgba($pink, 0.3);
            }
        }

        &.slider-orange {
            .color-overlay {
                background: rgba($orange, 0.3);
            }
        }

        &.slider-blue {
            .color-overlay {
                background: rgba($blue, 0.3);
            }
        }

        &.slider-green {
            .color-overlay {
                background: rgba($green, 0.3);
            }
        }

        .slider-item {
            .flex-module {
                gap: 1.5rem;

                .slider-img {
                    width: 100%;
                    height: 14rem;
                    padding-left: 0;

                    .color-overlay {
                        position: relative;
                        top: -14rem;
                        left: 0;
                        width: 100%;
                        height: 14rem;
                        border-radius: 20px 20px 0 0;
                    }

                    img {
                        border-radius: 20px 20px 0 0;
                    }
                }

                .slider-content {
                    gap: 0.5rem;
                    width: 80%;
                    padding: 1rem 6rem 4rem 6rem;
                    align-self: center;
                }
            }
        }
    }

    .slick-next,
    .slick-prev {
        top: calc(50% + 6rem);
        transform: translateY(-50%);
    }
}

@media (max-width: 1200px) {
    .slider {
        .slider-item {
            .flex-module {
                .slider-content {
                    width: 70%;
                }
            }
        }
    }

    .slick-next,
    .slick-prev {
        top: calc(50% + 4rem);
    }
}

@media (max-width: 680px) {
    .slider {
        .slider-item {
            .flex-module {
                .slider-img {
                    height: 10rem;

                    .color-overlay {
                        top: -10rem;
                        height: 10rem;
                    }
                }

                .slider-content {
                    width: 65%;
                }
            }
        }
    }

    .slick-next,
    .slick-prev {
        top: calc(50% + 5rem);
    }
}

@media (max-width: 480px) {
    .slider {
        .slider-item {
            .flex-module {
                .slider-img {
                    height: 8rem;
                    // width: 100vw;

                    .color-overlay {
                        top: -8rem;
                        height: 8rem;
                    }
                }

                .slider-content {
                    // width: 60%;
                }
            }
        }
    }
}



// @media (min-width: 1400px) {
//     .slider {
//         flex-direction: row;
//         padding: 2rem;

//         .slider-item {
//             .flex-module {
//                 flex-direction: row;
//                 gap: 5rem;
//                 align-items: flex-start;

//                 .slider-img {
//                     // width: 55%;
//                     // margin-left: 5%;
//                     // margin-top: 5%;
//                     // margin-bottom: 2%;

//                     img {
//                         width: -webkit-fill-available;
//                     }
//                 }

//                 .slider-content {
//                     width: 55%;
//                     margin-right: 5%;
//                     margin-top: -14%;

//                     .slider-content p {
//                         opacity: 100%;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 600px) {
//     .slider {
//         padding: 1rem;

//         .slider-item {
//             .flex-module {
//                 gap: 1rem;

//                 .slider-img {
//                     width: 100%;
//                     margin: 0 0 1rem 0;

//                     img {
//                         width: 100%;
//                     }
//                 }

//                 .slider-content {
//                     width: 100%;
//                     margin: 0;

//                     p {
//                         opacity: 100%;
//                     }
//                 }
//             }
//         }
//     }
// }
