.wave {
    width: 100vw;
    height: 10rem;

    &.header-wave {
        position: relative;
        top: -14rem;
        margin-bottom: -18rem;
        margin-top: 4rem;
    }

    &.footer-wave {
        position: relative;
        bottom: -5.5rem;
    }
}