.module-wrapper {
    &.hilfe-und-beratung {
        .stoerer {
            background: $pink;
        }

        .content {
            background: $pink-gradient;
        }
    }

    &.essen {
        .stoerer {
            background: $orange;
        }

        .content {
            background: $orange-gradient;
        }
    }

    &.freizeit {
        .stoerer {
            background: $blue;
        }

        .content {
            background: $blue-gradient;
        }
    }

    &.kleidung {
        .stoerer {
            background: $green;
        }

        .content {
            background: $green-gradient;
        }
    }

    .module {
        &.stoerer,
        &.content {
            padding: 2.5rem 7rem;
        }

        &.stoerer {
            height: auto;
        }

        .flex-module {
            &.items {
                justify-content: space-around;
                height: 7rem;

                .item {
                    height: 5rem;
                    display: flex;
                    align-items: center;

                    &.item-bottom {
                        align-self: flex-end;
                    }

                    &.item-top {
                        align-self: flex-start;
                    }

                    img {
                        max-height: 100%;
                        max-width: 100%;
                        height: auto;
                        width: auto;
                    }
                }
            }

            &.icon-with-heading {
                justify-content: flex-start;
                gap: 1rem;

                .icon {
                    width: 3.5rem;
                    height: 3.5rem;
                }

                h2 {
                    position: relative;
                    display: inline-block;
                    padding: 0 5px;
                    z-index: 0;
                }

                h2 > .line {
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    width: 100%;
                    height: 50%;
                    z-index: -1;

                    &.line-hilfe-und-beratung {
                        background: $pink;
                    }

                    &.line-essen {
                        background: $orange;
                    }

                    &.line-freizeit {
                        background: $blue;
                    }

                    &.line-kleidung {
                        background: $green;
                    }
                }
            }
        }

        .sport,
        .kultur,
        .veranstaltungen {
            .heading-with-marker {
                margin-top: 5rem;
                margin-bottom: -1rem;
            }

            .alle-angebote {
                padding-left: 1.75rem;
            }

            .alle-angebote:hover {
                .blue {
                    color: $blue;
                }

                .arrow-icon {
                    content: url("../../assets/icons/ic_arrow-right-blue.svg") !important;
                }
            }
        }

        .heading-with-marker {
            .line-marker {
                width: 0.75rem;
                height: 2rem;
                background: $blue;
                margin-right: 1rem;
            }
        }
    }
}