.module-wrapper {
    &.hilfe-und-beratung {
        .stoerer {
            background: $pink;
        }

        .content {
            background: $pink-gradient;
        }
    }

    &.essen {
        .stoerer {
            background: $orange;
        }

        .content {
            background: $orange-gradient;
        }
    }

    &.freizeit {
        .stoerer {
            background: $blue;
        }

        .content {
            background: $blue-gradient;
        }
    }

    &.kleidung {
        .stoerer {
            background: $green;
        }

        .content {
            background: $green-gradient;
        }
    }

    .module {
        &.stoerer,
        &.content {
            padding: 2.5rem 7rem;
        }

        &.stoerer {
            height: auto;
        }

        &.show-on-mobile {
            display: none;
        }

        .flex-module {
            &.items {
                justify-content: space-around;
                height: 7rem;

                .item {
                    height: 5rem;
                    display: flex;
                    align-items: center;

                    &.item-bottom {
                        align-self: flex-end;
                    }

                    &.item-top {
                        align-self: flex-start;
                    }

                    &.skateboard {
                        img {
                            width: 7rem;
                        }
                    }

                    img {
                        max-height: 100%;
                        max-width: 100%;
                        height: auto;
                        width: auto;
                    }
                }
            }
        }

        .sport,
        .kultur,
        .veranstaltungen {
            .heading-with-marker {
                margin-top: 5rem;
                margin-bottom: -1rem;
            }

            .alle-angebote {
                padding-left: 1.75rem;
            }

            .alle-angebote:hover {
                .blue {
                    color: $blue;
                }

                .arrow-icon {
                    content: url("../assets/icons/arrows/ic_arrow-right-blue.svg");
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .module-wrapper {
        .module {
            &.stoerer,
            &.content {
                padding: 2rem 4rem;
            }
        }
    }
}

@media (max-width: 1023px) {
    .module-wrapper {
        .module {
            &.stoerer,
            &.content {
                padding: 2.5rem 7rem;
            }
        }
    }
}

@media (max-width: 767px) {
    .module-wrapper {
        .module {
            &.content,
            &.stoerer {
                padding: 2rem 2rem;
            }

            .flex-module {
                &.items {
                    height: 4rem;

                    .item {
                        height: 4rem;
                    }
                }
            }

            .sport,
            .kultur,
            .veranstaltungen {
                .alle-angebote {
                    padding-left: 0;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .module-wrapper {
        &.hilfe-und-beratung,
        &.essen,
        &.freizeit,
        &.kleidung {
            .show-on-mobile {
                display: block;
            }

            .hide-on-mobile {
                display: none;
            }
        }

        &.hilfe-und-beratung {
            .stoerer {
                background: $pink-m;
            }
        }

        &.essen {
            .stoerer {
                background: $orange-m;
            }
        }

        &.freizeit {
            .stoerer {
                background: $blue-m;
            }
        }

        &.kleidung {
            .stoerer {
                background: $green-m;
            }
        }

        .module {
            .flex-module {
                &.items {
                    .item {
                        img {
                            width: 70%;
                        }
                    }
                }
            }

            .sport,
            .kultur,
            .veranstaltungen {
                .alle-angebote {
                    padding-left: 0rem;
                }
            }
        }
    }
}