.subpage {
    background: $blue-bg;

    .module-wrapper {
        &.header {
            .header-img {
                height: 30rem;
                object-fit: cover;
            }
        }
    }
}